#myInput {
    background-image: url('icon.png'); 
    background-position: 10px 12px; 
    background-repeat: no-repeat; 
    font-size: 16px; 
    padding: 12px 20px 12px 40px; 
    border: 0;  
}  



table {
    border-collapse: collapse;
    width: 100%;
}
  
table,td {
      border-bottom: 1px solid #ddd
}
  
td {
    color: black;
    padding: 15px;
    text-align: center;
}
  
th {
    background-color: #4CAF50;
    color: white;
    text-align: center;
}
 

tr:nth-child(odd) {background-color: #f0e9e9;}
  
